* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.5;
    color: white;
    background-color: #00005C;
}
header {
    background-color: black;
    color: white;
    text-align: center;
}
.logo {
    border-radius: 50%;
}
nav a{
    color: white;
    text-decoration: none;
    margin: 0 10px;
    padding: 8px 15px;
    transition: all 0.3s ease;
}
nav a:hover {
    background-color:#CAEDFF;
    color: black;
}
.section-title {
    margin: 0px;
    text-align: center;
    font-size: xx-large;
}
.info-text {
    font-style: italic;
    background-color: rgba(255, 199, 234, 0.5);
    margin: 20px 200px 20px 200px;
    padding: 40px;
}
#about {
    text-align: center;
}
#my-image {
    border-radius: 20px;
}
.capture {
    height: 500px;
    width: 500px;
    margin: 30px 100px 0px 100px;
}
.caption {
    font-size: larger;
}
#gallery {
    text-align: center;
}
#contacts {
    text-align: left;
    background-color: rgba(80, 38, 167, 0.5);
    padding-left: 5px;
    padding-bottom: 10px;
}
#contact-links a {
    text-decoration: none;
    color: yellow;
}
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 20px;
}
footer a {
    color: yellow;
    padding: 10px;
    margin: 10px;
}
